@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .container {
    max-width: 1170px;
  }
  .logo>img {
    width: 70px;
    margin-top: 12px;
  }
  .text-logo {
    font-size: 23px;
    margin-top: 39px;
    margin-left: 104px;
    font-weight: 600;
  }
  header {
    height: 95px;
  }
  .content{
    height: 467px;
  }
  .header-content {
    font-size: 16px;
  }
  .sub-tab {
    height: 134px;
    margin-bottom: 25px;
  }
  .title-tab {
    font-size: 21px;
    margin: 0 30px;
    line-height: 32px;
  }
  .domain-tab {
    font-size: 15px;
    margin: 0 15px 0 30px;
    padding: 0;
  }
  .detail-tab {
    font-size: 13px;
    padding: 0;
    margin: 0 15px 0 30px;
  }
  .resize-search {
    width: 75px;
  }
  .resize-document {
    width: 53px;
  }
  .resize-notable {
    width: 60px;
  }
  .resize-calendar {
    width: 60px;
  }
  .resize-procedure {
    width: 53px;
  }
  .resize-feedback {
    width: 65px;
  }
  .icon-tab {
    margin-top: 28px;
  }
  .border {
    height: 78px;
    margin-top: 5px;
  }
  .content-tab {
    margin: 20px 0;
  }
  .header-content{
    margin: 42px auto 0;
  }
  .header-content>img{
    width: 42px;
  }
  .icon-hand{
    left: -55px;
    top: -4px;
  }
  .main-content{
    margin-top: 40px;
  }
  .box-left-tab {
    padding-left: 14px;
  }
  .box-left-tab {
    padding-right: 14px;
  }
  .title{
    font-size: 22px;
    margin-left: 80px;
  }
  .ic-book {
    width: 40px;
    height: 46px;
  }
  .icon-header{
    left: -55px;
    top: -2px;
  }
  .header{
    margin-top: 35px;
  }
  .send-notable{
    width: 57%;
  }
  .info-name{
    font-size: 19px;
    margin-bottom: 20px;
  }

  .profile{
    height: 465px;
    width: 40%;
  }
  .content{
    margin-top: 36px;
    margin-bottom: 32px;
  }
  .form-notable{
    font-size: 14px;
    margin-left: 70px;
    margin-top: 0;
  }
  .inp-notable{
    width: 300px;
    height: 45px;
    font-size: 16px;
  }
  .radio-notable input[type='radio']{
    width: 18px;
    margin: 0 12px 0 0;
  }
  .form-notable>p {
    margin: 23px 0;
  }
  .radio-notable{
    margin: 17px 0;
  }
  .btn-send-notable{
    width: 158px;
    height: 44px;
    font-size: 14px;
    margin-top: 20px;
  }
  .btn-icon{
    width: 158px;
    height: 44px;
    font-size: 14px;
  }
  .space-back {
   line-height: 42px;
   margin-left: 8px;
  }
  .space-home{
    line-height: 42px;
  }
  .size-back{
    top:3px;
    left: -6px;
  }
  .footer{
    height: 50px;
  }
  .sub-info-name {
    font-size: 15px;
    margin-bottom: 6px;
  }
  .sub-info-detail>p {
    line-height: 16px;
    font-size: 12px;
  }
  .sub-info-detail{
    margin-top: 22px;
  }
  .img-sub-ava {
    padding: 21px 0px 20px 20px;
    width: 73%;
  }
  .sub-info {
      height: 150px;
  }
  .icon-Trangchu{
    top: 2px;
    position: relative;
  }
  .icon{
    font-size: 21px;
  }
}
